{% extends "base.html" %}

{% block title %}Train Model{% endblock %}

{% block content %}

<div class="container my-5">
    <!-- Exception display -->
    <div class="d-flex justify-content-between mb-4">
        <div class="col-12">
            {% if error %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    {{ error }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="d-flex justify-content-between mb-4">
        <div class="col-lg-8 d-flex flex-column justify-content-center">
            <h2 class="mb-3">Select a model for inference</h2>
        </div>
        <div class="col-lg-4">
            <!-- Top container: three buttons -->
                <div class="d-flex justify-content-between mb-4">
    
                    <a href="{{ url_for('models', mode='segmentation') }}"
                    class="btn btn-outline-primary flex-fill me-2
                            {% if mode == 'segmentation' %}active{% endif %}">
                        Segmentation
                    </a>
    
                    <a href="{{ url_for('models', mode='classification') }}"
                    class="btn btn-outline-primary flex-fill me-2
                            {% if mode == 'classification' %}active{% endif %}">
                        Classification
                    </a>
    
                    <a href="{{ url_for('models', mode='detection') }}"
                    class="btn btn-outline-primary flex-fill
                            {% if mode == 'detection' %}active{% endif %}">
                        Detection
                    </a>
    
                </div>
        </div>
    </div>
    <div class="row">
        <div class="mb-4">
            <table id="models" class="table table-striped mt-2">
                <thead>
                    <tr>
                        <th class="sortable" data-type="string" onclick="sortTable('models', 0)">Model Name</th>
                        <th class="sortable" data-type="string" onclick="sortTable('models', 1)">Trained on</th>
                        <th class="sortable" data-type="number" onclick="sortTable('models', 2)">Score</th>
                        <th class="sortable" data-type="date" onclick="sortTable('models', 3)">Creation date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for model in models %}
                    <tr>
                        <td>
                            <a href="{{url_for('inference', id=model.id)}}">
                            {{ model.name }}
                            </a>
                        </td>
                        <td>{{ model.trained_on }}</td>
                        <td><span class="badge bg-success bg-opacity-75">{{ model.score }}</span></td>
                        <td>{{ model.date }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}
